/* header部分start */

header {
    position: relative;
}

.icon-container {
    position: relative;
    top: 0;
}

.icon {
    position: absolute;
    width: 2rem;
}

.icon1 {
    top: 3.3rem;
    left: .6rem;
}

.icon2 {
    top: -.7rem;
    right: 0;
}

.icon3 {
    position: absolute;
    top: 1.9rem;
    right: 0;
    width: 1.4rem;
}

.icon4 {
    top: .3rem;
    left: 0;
}

.head-container {
    margin: .7rem 0;
    text-align: center;
    h3 {
        margin-top: .5rem;
        font-size: .32rem;
        font-weight: 700;
        color: rgba(10, 37, 51, 0.72);
    }
    p {
        font-size: .28rem;
        margin-top: .2rem;
        color: rgba(10, 37, 51, 0.6);
    }
}

.logo {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}


/* header部分end */


/* container部分start */

.mb-80 {
    margin-bottom: 1.6rem;
}

.item-icon {
    float: left;
    margin-right: .24rem;
    width: 1.4rem;
    height: 1.4rem;
    img {
        width: 100%;
        height: 100%;
        border-radius: .3rem;
    }
}

.content {
    margin-top: .24rem;
    position: relative;
}

.app-item {
    border-bottom: 0.02rem solid #eee;
    &:first-child {
        border-top: 0.02rem solid rgba(0, 0, 0, 0.08);
    }
}

.item-brief {
    background-color: #fff;
    padding: .4rem;
    overflow: hidden;
}

.title {
	width: 2.6rem;
    font-size: .28rem;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// @media screen and (max-width: 414px) {
//     .title {
//         width: 130px;
//     }
// }

.sub-title {
    margin-top: .16rem;
    font-size: .26rem;
    color: #999;
}

.device {
    margin-right: .3rem;
    position: relative;
    &::after {
        content: "";
        width: 0.08rem;
        height: 0.08rem;
        background-color: rgba(10, 37, 51, 0.24);
        border-radius: 0.04rem;
        position: absolute;
        right: -.2rem;
        top: .1rem;
    }
}

.price {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: .52rem;
    line-height: .52rem;
    font-size: 0;
}

.price-original {
    font-size: .26rem;
    color: #999;
    text-decoration: line-through;
}

.price-discount {
    display: inline-block;
    width: 1.2rem;
    min-width: 1rem;
    font-size: .26rem;
    margin-left: .14rem;
    background-color: #e33344;
    border-radius: .4rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.item-detail {
    /* height: 0; */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition-property: opacity, max-height;
    transition-duration: 0.35s, 0.4s;
}

.show {
    /* height: auto; */
    max-height: 16rem;
    opacity: 1;
}

.detail-abstract {
    margin: .34rem .4rem 0;
    font-size: .3rem;
    text-align: justify;
    color: rgba(10, 37, 51, 0.6);
}

.detail-foot {
    padding: .2rem .4rem;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: .4rem;
    line-height: .7rem;
}

.packup {
    display: inline-block;
    float: right;
    padding: 0.02rem .2rem;
    border-radius: .4rem;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(10, 37, 51, 0.48);
    font-size: .28rem;
    i {
        display: inline-block;
        font-size: .5rem;
        width: .4rem;
        vertical-align: middle;
        text-align: center;
        font-style: normal;
    }
}

.detail-images {
    margin: .3rem 0 .2rem;
    overflow-x: scroll;
    white-space: nowrap;
}

.imageItem {
    display: inline-block;
    width: 4rem;
    margin: 0 .1rem;
    &:first-child {
        margin-left: .4rem;
    }
    &:last-child {
        margin-right: .4rem;
    }
}
.load-more {
	margin: .4rem 0;
	color: rgba(10, 37, 51, 0.36);
	border: 0.02rem solid rgba(10, 37, 51, 0.04);
	border-radius: 0.08rem;
	height: 1rem;
	font-size: .28rem;
	line-height: 1rem;
	text-align: center;
	background-color: #fff;
}

/* container部分end */


/* footer部分start */

.hide {
    display: none;
}

@media screen and (max-width: 828px) {
    .foot {
        display: block;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        height: 1.12rem;
        padding: .16rem .2rem;
        background-color: #f7f7f9;
        box-shadow: 0 0 0.04rem 0.04rem rgba(0, 0, 0, 0.1);
    }
}

.foot-icon {
    float: left;
    margin-right: .14rem;
    width: .8rem;
    height: .8rem;
    img {
        width: 100%;
        height: 100%;
        border-radius: .2rem;
    }
}

.foot-content {
    position: relative;
}

.name {
    color: rgba(10, 37, 51, 0.84);
    font-size: .28rem;
    line-height: .4rem;
}

.desc {
    color: rgba(10, 37, 51, 0.6);
    font-size: .24rem;
    line-height: .4rem;
}

.fine {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
    height: .6rem;
    font-size: .24rem;
    line-height: .6rem;
    text-align: center;
    background-color: #c13a43;
    color: #fff;
    border-radius: .1rem;
    box-shadow: 0 0.02rem 0.02rem #000;
    text-decoration: none;
}

.close-bg {
    position: absolute;
    left: -.12rem;
    top: -.38rem;
    width: .64rem;
    height: .4rem;
    background-color: #f7f7f9;
    box-shadow: 0.04rem -0.04rem 0.04rem 0 rgba(0, 0, 0, 0.1);
    transform: skewX(25deg);
}

.close {
    position: absolute;
    left: .16rem;
    top: -.4rem;
    font-size: .34rem;
    color: #030303;
}

.hide-foot {
    display: none;
}


/* footer部分end */